# Visual Studio
.vs/
*.user
*.suo

# Build folders
x64/
x86/

# CMake
CMakeFiles/
CMakeCache.txt
build/
build-clang/

# Compiled binaries
*.exe
*.obj
*.pdb
*.ilk

# Logs
*.log

# Scripts directory
scripts/